@import "_resetStyles.scss";
@import "_fonts.scss";

body {
  //padding-top: 20px;
  // padding-bottom: 30px;
  //padding-left: 2%;
  //padding-right: 2%;
  background-color: #d6c493;
  color: #232760;
  //font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  //font-family: "Dancing Script", cursive;
}
.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  height: 800px;
  margin: 50px auto;
  border-radius: 30px;
  background-color: #ebe0c2;
}
