@import "_resetStyles.scss";

body {
  background-color: #e7b68b;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper {
  background-color: #e8ee48;
  border-radius: 20px;
  max-width: 1400px;
  margin: 0px auto;
}
