.centerColumn {
  margin: 10px 10px 10px -100px;
  text-align: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #232860;

    span {
      font-size: 20px;
    }
    span:first-child {
      margin-right: 5px;
      color: cadetblue;
      font-size: 18px;
    }
  }
}
.text {
  margin-top: 3px;
  h2 {
    font-size: 12px;
    margin-bottom: 3px;
  }
  p {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    span:first-child {
      margin-right: 5px;
      color: cadetblue;
    }
  }
}
