.basket {
	margin: 40px 0px 40px 0px;
}
.container {
	max-width: 800px;
	margin: 0px auto;
}
.title {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	span {
		font-size: 28px;
		margin-right: 10px;
	}
	h2 {
		font-size: 28px;
	}
}
.cleaning {
	cursor: pointer;
	color: rgba(163, 19, 19, 0.8);
}
.total {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	span {
		font-size: 22px;
		color: rgba(251, 75, 2, 0.8);
	}
	h2 {
		font-size: 18px;
		margin-right: 10px;
	}
}
.button {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.buttonLeft {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	background: rgb(101, 166, 169);
	padding: 15px 20px;
	border-radius: 16px;
	transition: all 0.3s ease;
	span {
		font-size: 20px;
		margin-right: 10px;
	}
}
.buttonLeft:hover {
	color: rgba(251, 75, 2, 1);
	background: rgba(98, 75, 100, 1);
}
.buttonRight {
	font-size: 24px;
	background: rgba(251, 75, 2, 0.7);
	padding: 15px 30px;
	border-radius: 16px;
	transition: all 0.3s ease;
}
.buttonRight:hover {
	background: rgba(251, 75, 2, 0.9);
	color: #ebe0c2;
}
